DATABASE_URL=file:./data/school-staff-hub.db
DATABASE_AUTH_TOKEN=
AUTH_SECRET=replace-with-a-long-random-string-for-production
NEXT_PUBLIC_SCHOOL_NAME=St. Joseph's Institution International
NEXT_PUBLIC_SCHOOL_LOGO_URL=https://resources.finalsite.net/images/v1737511103/sjiinternationalcomsg/b5e2sg6iwtc63oze5upz/St-Josephs-Institution-International-Logo-White.svg
NEXT_PUBLIC_SCHOOL_TIMEZONE=Asia/Singapore
